<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Weather</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
<form>
    <div class="form-group">
    <label for="dateWeather">Date</label>
    <div class="input-group">
        <input id="dateWeather" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
        <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
        </div>
    </div>
    <label for="temperatureWeather">Temperature (c)</label>
    <input id="temperatureWeather" type="text" class="form-control" placeholder="Enter the temperature in Celcius" >
    <label for="summaryWeather">Summary</label>
    <input id="summaryWeather" type="text" class="form-control"  placeholder="Enter the weather Description" >
    </div>
</form>
</div>

<div class="modal-footer">
<button (click)="addWeather(); modal.close('Save click')"  *ngIf ="forcast.weatherid==0" class="btn btn-primary">Add</button>
<button (click)="updateWeather();modal.close('Save click')"  *ngIf ="forcast.weatherid!=0" class="btn btn-primary">Update</button>
<!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
</div>

<!-- <div class="form-group row">

    <label for="date" class="form-label">Summary</label>

    <div class="col-sm 10">
        <input type="text" class="form-control" [(ngModel)]="forcast.summary"
                placeholder="Enter the Weather Summary">
    </div>

<button (click)="addWeather()"  *ngIf ="forcast.weatherid==0" class="btn btn-primary">Add</button>
<button (click)="updateWeather()"  *ngIf ="forcast.weatherid!=0" class="btn btn-primary">Update</button>
</div> -->
